body {
    background-color: crimson;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
    color: white;
    margin: 20px;
   text-align: center;
}

h1 {
    background-color: black;
}
h2 {
    text-align: left;
}
p, ul, ol, table {
    text-align: left;
    max-width: 700px;
    margin: 0 auto 1em auto;
}

ul, ol {
    padding-left: 100px;
}

table {
    background-color: white;
    color: black;
    margin: 0 auto 10px auto;
    border: 10px;
    border-style: dashed;
}